<body>
  <header>
    <a [routerLink]="['../']">back</a>
  </header>
  
  <div class="container item mb-5" *ngFor="let article of articles.reverse()  | paginate: { itemsPerPage: 3, currentPage: p }">
  
  <a class="postheading" [routerLink]="['/article', article.id, article.title]">
    <img [src]="imageURL+article.PhotoFileName" alt="Avatar"></a>
  
    <div class="wow fadeInUp col-md-6 col-sm-10" data-wow-delay="1.3s">
  
    <h1>
      {{article.title}}
    </h1>
  
    <h3>
      <span>{{ article.desc }}</span>
    </h3>
  
    </div>
    
    </div>
  
    <div class="pagination">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
  </body>