<section id="events" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s">
				<h3>This will be The Events Page of the Website</h3>
				<p>Catch up on some of the latest events of the Organization </p>
				<p>Quisque facilisis scelerisque venenatis. Nam vulputate ultricies luctus. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
			</div>
					
			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
				<img src='../../../../assets/img/overview-img.jpg' class="img-responsive" alt="Overview">
			</div>

		</div>
	</div>
</section>