<section id="events" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s"
			*ngFor="let merch of merchs.reverse()
            let i = index">
			<div class="card embed-responsive embed-responsive-16by9
			" *ngIf = "i < 1">
			<a [routerLink]="['/order', merch.id]">
				<img [src]="imageURL+merch.PhotoFileName" alt="Avatar" style="width:100%">
				<div class="container">
				  <h4><b>{{merch.mname}}</b></h4>
				  <p>{{merch.desc}}</p> 
				</div>
			</a>
			</div>
			</div>
			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
				<img src='/assets/img/roadmap.png' class="img-responsive" alt="Overview" usemap="#roadmap">
				<map name="roadmap">
					<area shape="poly" coords="200,340,216,234,312,236,323,323,317,346" matTooltip="Info about the Device" >
					<div id='pin-1' class="box" >
					<div class="pin-text">
						<img src ="../../../../assets/img/event.png" class="imgz">
					<h1>Some Text</h1>
					</div>
				</div>
				
				</map>
			</div>
		</div>
	</div>
</section>