<section id="events" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.6s"
			*ngFor="let merch of merchs.reverse()
            let i = index">
			<div class="card embed-responsive embed-responsive-16by9
			" *ngIf = "i < 1">
			<a [routerLink]="['/order', merch.id]">
				<img [src]="imageURL+merch.PhotoFileName" alt="Avatar" style="width:100%">
				<div class="container">
				  <h4><b>{{merch.mname}}</b></h4>
				  <p>{{merch.desc}}</p> 
				</div>
			</a>
			</div>
			</div>
			<div class="wow fadeInUp col-md-6 col-sm-6" data-wow-delay="0.9s">
				<img src='/assets/img/roadmap.png' class="img-responsive" alt="Overview" usemap="#roadmap">
				<map name="roadmap">
					<div>

					</div>
					<div id='pin-1' class="box">
					<div class="pin-text">
						<img [src] ="imageURLz+event1.PhotoFileName"class="imgz">
					<h1>{{event1.eventName}}</h1>
					</div>
				</div>
				<div id='pin-1' class="box2">
					<div class="pin-text">
						<img [src] ="imageURLz+event2.PhotoFileName"class="imgz">
					<h1>{{event2.eventName}}</h1>
					</div>
				</div>
				<div id='pin-1' class="box3">
					<div class="pin-text">
						<img [src] ="imageURLz+event3.PhotoFileName"class="imgz">
					<h1>{{event3.eventName}}</h1>
					</div>
				</div>
				<div id='pin-1' class="box4">
					<div class="pin-text">
						<img [src] ="imageURLz+event4.PhotoFileName"class="imgz">
					<h1>{{event4.eventName}}</h1>
					</div>
				</div>
				<div id='pin-1' class="box5">
					<div class="pin-text">
						<img [src] ="imageURLz+event5.PhotoFileName"class="imgz">
					<h1>{{event5.eventName}}</h1>
					</div>
				</div>
				<div id='pin-1' class="box6">
				<div class="pin-text">
					<img [src] ="imageURLz+event6.PhotoFileName"class="imgz">
				<h1>{{event6.eventName}}</h1>
				</div>
				</div>
				<div id='pin-1' class="box7">
				<div class="pin-text">
				<img [src] ="imageURLz+event7.PhotoFileName"class="imgz">
				<h1>{{event7.eventName}}</h1>
			</div>
	</div>
			</map>
			</div>
		</div>
	</div>
</section>