
.card {
 margin-right: 150px;
  transition: 0.3s;
  width: 40%;
  border-radius: 10px;
  background: white;
  
}


.container {
  padding: 2px 16px;
  
}

.box:hover > .pin-text {
  display: block;
  margin: auto;
}
.box2:hover > .pin-text {
  display: block;
}

.box3:hover > .pin-text {
  display: block;
}
.imgz{
  width: 500%;
 position: absolute;
  
}

.box4:hover > .pin-text {
  margin: auto;
  display: block;
}
.box5:hover > .pin-text {
  display: block;
}
.box6:hover > .pin-text {
  display: block;
}
.box7:hover > .pin-text {
  display: block;
}

.boxz:hover > .pin-text {
  display: block;
}

.box2z:hover > .pin-text {
  display: block;
}

.box3z:hover > .pin-text {
  display: block;
}

.box4z:hover > .pin-text {
  display: block;
}

.box5z:hover > .pin-text {
  display: block;
}

.box6z:hover > .pin-text {
  display: block;
}

.box7z:hover > .pin-text {
  display: block;
}


.box {
  top : 220px ;
  left : 160px;
  width:30%;
  height: 30%;
  background-image:url('../../../../assets/img/building1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}

.boxz {
  top : 220px ;
  left : 180px;
  width:30%;
  height: 30%;
  background-image:url('../../../../assets/img/construct.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}

.box2 {
  top : 30px ;
  left : 150px;
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/building1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}

.box2z {
  top : 30px ;
  left : 150px;
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/construct.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}

.box3 {
  top : 120px ;
  left : 100px;
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/building1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}
.box3z {
  top : 120px ;
  left : 100px;
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/construct.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}

.box4 {
  top : 130px ;
  left : 200px;
  transform: scaleX(-1);
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/building1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}
.box4z {
  top : 130px ;
  left : 200px;
  transform: scaleX(-1);
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/construct.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}

.box5 {
  top : 200px ;
  left : 300px;
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/building1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}
.box5z {
  top : 200px ;
  left : 300px;
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/construct.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}

.box6 {
  top : 40px ;
  left : 300px;
  transform: scaleX(-1);
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/building1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}
.box6z {
  top : 40px ;
  left : 300px;
  transform: scaleX(-1);
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/construct.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}

.box7 {
  top : 10px ;
  left : 240px;
  transform: scaleX(-1);
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/building1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}

.box7z {
  top : 10px ;
  left : 240px;
  transform: scaleX(-1);
  width:30%;
  height: 30%;
  background-image:   url('../../../../assets/img/construct.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute; 
}

.pin-text {
  position: absolute;
  top:50%;
  transform:translateY(-50%);
  left:75%;
  white-space:nowrap;
  display: none;
}

  

