<section id="articles" class="parallax-section">
	<div class="row">
  		<div class = "row2">
		<div class="wow fadeInUp col-md-6 col-sm-10" data-wow-delay="1.3s">
			<h2>Articles</h2>
			<h3>Quisque ut libero sapien. Integer tellus nisl, efficitur sed dolor at, vehicula finibus massa. Sed tincidunt metus sed eleifend suscipit.</h3>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet. Dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet consectetuer diam nonummy.</p>
		</div>
	</div>
		<div class="wow fadeInUp col-md-6 col-sm-10" data-wow-delay="1.6s"
		*ngFor="let article of articles.reverse()
		let i = index">
			<div class="card embed-responsive embed-responsive-16by9
		" *ngIf = "i < 1">
				<a [routerLink]="['/article', article.id, article.title]">
				<img [src]="imageURL+article.PhotoFileName" alt="Avatar" style="width:100%">
				<div class="container">
				  <h4><b>{{article.title}}</b></h4>
				  <p>{{article.desc}}</p>
				</div>
				</a>
			</div>
		</div>
  <div class = "buttones col-md-6">
	<br>
  <button class="button-two wow fadeInUp" data-wow-delay="1.3s" (click)="onMoreArticles() "><span>See More</span></button>
  		</div>
	</div>
</section>