<html>
  <body>
   
<div class="category">
  <a [routerLink]="['../']">
    <i class="fas fa-chevron-circle-left fa-2x round"></i>
</a>
  
<input type="radio" name="filter" id="all" checked (change)="allFunc($event)"><label for="all">All</label>
<input type="radio" [(ngModel)]="ari" name="filter" id="Manual" value = "Manual" (change)="testFunc($event)"><label for="Manual" >Manual</label>
<input type="radio" [(ngModel)]="cali" name="filter" id="Digital" value = "Digital" (change)="testFunc2($event)"><label for="Digital">Digital</label>
</div>



<div *ngFor="let showroom of showrooms | paginate: { itemsPerPage: 3, currentPage: p } let i = index " >
  <a [routerLink]="['/Showroom', showroom.id, showroom.Title]">



<div class="content-wrapper">
  <div class="news-card">
    <a href="#" class="news-cardcard-link"></a>
    <img [src]="imageURL + showroom.PhotoFileName" alt="" class="news-cardimage">
    <div class="news-cardtext-wrapper">
      <h2 class="news-cardtitle">{{showroom.Title}}</h2>
      <p class="news-cardexcerpt">Made By: {{showroom.AuthorName}}</p>
      <div class="news-carddetails-wrapper">
        <div class="news-cardpost-date">Jan 29, 2018</div>
      </div>
    </div>
  </div>
</div>








</a>
</div>

<pagination-controls class="down" (pageChange)="p = $event"></pagination-controls>

  </body>
</html>