
<div class="container">
   
    <div class="main">
        <h2>This is Events</h2>
        <div class="right">
          <button class="btn btn-primary" routerLink="add"> Add </button>
        </div>
        <table>
          <tr>
            <th>Article Title</th>
            <th>Article Desc</th>
         
          </tr>
          <tr
          *ngFor = "let event of Events.reverse()">
         <td>
          {{event.eventName}}
         </td>
         <td>
          {{event.eventLink}}
        </td>
         
         <td>
          <a class="btn btn-primary" [routerLink]="['edit', event.id]">Edit</a>
          <button class="btn btn-danger" (click) = "deleteClick(event)">Delete</button>
         </td>
          </tr>
        </table>
    </div>
         
  </div>