@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#title h1{
  text-align: center;
  color: white;
  font-family: inherit;
}

.text-center {
 text-align: center;
 margin: 0.5em;
}

.container{
  width: 80%;
  margin: auto;
  display: flex;
  flex: 1 1 100%;
  overflow: hidden;
  align-items: stretch;
    justify-content: space-between;
  box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.2);
  border-radius: 10px;
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
    width: 375px; 
    height: auto;
  }
  
 
 
}

.left {
  background-color: #1E88E5;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.right {
  width: 100%;
  height: 85vh;
  position:relative;
  background: #ffffff;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  overflow-y:auto;
  font-family: 'gravityregular';
}

/* Form */
form {
  padding: 2.5rem 0.625rem;
  border-radius: 0.25rem;
}

.form-set{
  padding: 5px; 
}

@media (max-width: 480px) {
  form {
    padding: 1rem;
    display: block;
  }

  img.left{
    width: 50vh ;
    height:40vh ;
  }
  
}

.form-control {
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
#name-label,
#email-label,
#number-label,
#drop-label,
#radio-label,
#checkbox-label,
#textarea-label{
  display: flex;
  font-weight: bold;
  font-size: 12px;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/*Comment*/
textarea {
  background: none;
}

.input-textarea {
  margin-top: 6px;
  width: 100%;
  height: 105px;
  border: 1px solid white;
  border-radius: 5px;
  resize: none;
  transition: 0.3s;
}

.input-textarea:hover {
  border: 2px solid white;
}

/*Button */
button {
  border: none;
  border-radius: 5px;
}

.submit-button {
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  transition: 0.3s;
}

.submit-button:hover {
  background: white;
}


body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: auto;
  background: url('src/assets/img/HOME_BG.jpg');
}

textarea {
  width: 100%;
  outline: none;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  text-align: center;
  color: #F90;
  border: 1px solid #F90;
  border-radius: 5px;
  padding: 10px 15px;
  width: 100%;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.button:hover {
  color: white;
  box-shadow: 0 0 30px 0 rgba(255, 153, 0, 0.5);
  background-color: #F90;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.button:hover:before {
  -webkit-animation: shine 0.5s 0s linear;
  -moz-animation: shine 0.5s 0s linear;
  animation: shine 0.5s 0s linear;
}
.button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.button:before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 15px 3px white;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.fa-chevron-circle-left {
  color: #333333;
}