
<body>
<div class="container">
    <div class="main">
        <h2>Applicant List</h2>
        <table #userTable>
          <tr>
            <th>Name</th>
            <th>UST Email</th>
            <th>Student No.</th>
            <th>Date Applied</th>
            <th></th>
          </tr>
          <tr
          *ngFor = "let applicant of applicants | paginate: { itemsPerPage: 5, currentPage: p }">
         <td>
           {{applicant.name}}
        </td>
        <td>
          {{applicant.ustEmail}}
        </td>
        <td>
          {{applicant.studentNo}}
        </td>
        <td>
          {{applicant.dateApplied | date: 'MMMM/dd/YYYY'}}
        </td>
        <td>
          <div>
            <button mat-raised-button (click)="openDialog(applicant.id)">Applicant Details</button>  
            
            <ng-template #callAPIDialog>
              <img class="centerz" src="https://uapsaust.com/assets/img/HEADER%20LOGO.png"><br><br>
              <mat-dialog-content>
              Full Name: {{name}}<br>
              Ust Email: {{email}}<br>
              Student Number: {{studentNo}}<br>
              Year: {{year}}<br>
              Section: {{section}}<br>
              Sex: {{sex}}<br>
              Birthdate: {{birthDate}}<br>
              Age: {{age}}<br>
              Membership Status: {{membershipStatus}}<br>
              Contact: {{contact}}<br>
              Address: {{address}}<br>
              Facebook Link: {{facebookLink}}<br><br>
              What are you looking forward to in UAPSA?:<br>
              {{lookingForward}}<br><br>
              If given the chance, what type of events would you create for UAPSA - UST? Share us your innovative ideas!:<br>
              {{typeOfEvents}}<br><br>
              What topics are you interested for us to cover in our online webinars and talks?:<br>
              {{topicsIntrested}}  
            </mat-dialog-content>
           </ng-template>
          </div>
        </td>
          </tr>
          
        </table>
        <pagination-controls (pageChange)="p = $event" ></pagination-controls>
        <button mat-raised-button (click)="exportElmToExcel(applicants)">Archive Applicants</button>
        <button mat-raised-button (click)="openDialogz()">Applicants Report</button> 
    </div>
   
  </div>
</body>


<ng-template #callAPIDialogz>
  <div class="middle">
  <h1 class="fontz">Applicants Report</h1>
  <p class="font">In this Table you will be able to see the Full Details of the Applicants</p>
  </div>
  <div>
    <form (ngSubmit)="applyFilter(f)" #f="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Start date"
        ngModel name ="startzDate">
        <input matEndDate placeholder="End date"
        ngModel name ="endzDate">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button type="submit" mat-raised-button>Filter</button>
  </form>
  </div>
  <table #userTable>
    <tr>
      <th>Name</th>
      <th>UST Email</th>
      <th>UST Student Number</th>
      <th>Year Level</th>
      <th>Sex</th>
      <th>Section</th>
      <th>Birthdate</th>
      <th>Member Status</th>
      <th>Contact Number</th>
      <th>Address</th>
      <th>Facebook Link</th>
      <th>What are you looking forward to in UAPSA?</th>
      <th>If given the chance, what type of events would you create for UAPSA - UST? Share us your innovative ideas!</th>
      <th>What topics are you interested for us to cover in our online webinars and talks?</th>
      <th>Date Applied</th>
    </tr>
    <tr
    *ngFor = "let applicant of applicantsz">
   <td>
     {{applicant.name}}
  </td>
  <td>
    {{applicant.ustEmail}}
  </td>
  <td>
    {{applicant.studentNo}}
  </td>
  <td>
    {{applicant.year}}
  </td>
  <td>
    {{applicant.sex}}
  </td>
  <td>
    {{applicant.section}}
  </td>
  <td>
    {{applicant.birthDate}}
  </td>
  <td>
    {{applicant.membershipStatus}}
  </td>
  <td>
    {{applicant.contact}}
  </td>
  <td>
    {{applicant.address}}
  </td>
  <td>
    {{applicant.facebookLink}}
  </td>
  <td>
    {{applicant.lookingForward}}
  </td>
  <td>
    {{applicant.typeOfEvents}}
  </td>
  <td>
    {{applicant.topicsIntrested}}
  </td>
  <td>
    {{applicant.dateApplied | date: 'MMMM/dd/YYYY'}}
  </td>
    </tr>
  
  </table>
   
</ng-template>