<!-- =========================
     NAVIGATION LINKS     
============================== -->
<app-navbar></app-navbar>


<!-- =========================
    INTRO SECTION   
============================== -->
<section id="intro" class="parallax-section">
	<div class="container">
		<div class="row">
			
			<div class="wow fadeInUp col-md-6 testz" data-wow-delay="0.6s">
                <h1 class="wow bounceIn" data-wow-delay="0.9s">
					
					<span class="textSize">What's Up</span></h1>
					
					<br>
					<br>
					<br>
						  <h1 class="wow bounceIn" data-wow-delay="1.6s">
					<span class="h3z">UAPSA</span>
					<span class="textSize">Fam</span></h1>
				
			</div>
			<div class="demo">
			<div class="wow fadeInUp col-md-6 demo" data-wow-delay="1.6s">
				
				<carousel
				[objectFit]="'cover'"
				class="testi"
				[height]="400"
				[autoplay]="true"
				[loop]="true"
				[cellsToShow]="1"
				[cellsToScroll]="1"
				[arrows]="false"
				>
				<div class=" carousel-cell" *ngFor="let event of events ">
						<img [src]="imageURL+event.PhotoFileName" class="tenks" alt="">
					
					</div>
					</carousel>
				</div>
			</div>
			
		</div>
	</div>


</section>


<!-- =========================
    Events SECTION   
============================== -->
<section id="overview" class="parallax-section">
	<div class="container">
    <button *ngIf="events.length >0" class="btn success" (click)="openDialog8()">Calendar of Activities</button>
    <br>
    <div class="row">
      <div class="wow fadeInUp col-md-6 demo" data-wow-delay="0.6s">
  <h1 class="merchtitle">Merchandise</h1>
  <div class="teamsz">
    <carousel
    [objectFit]="'cover'"
    class="testi"
    [height]="400"
    [autoplay]="true"
    [loop]="true"
    [cellsToShow]="1"
    [cellsToScroll]="1"
    [arrows]="true"
    arrowsTheme="dark"
    [arrowsOutside]="true"
    >
    <div class=" carousel-cell" *ngFor="let merch of merchs ">
      <a [routerLink]="['/order', merch.id]">
        <img class="card-image" [src]="imageURL+merch.PhotoFileName" alt="">

        </a>

      </div>
      </carousel>
        </div>
      </div>

			<div class="wow fadeInUp col-md-6" data-wow-delay="1.6s">
        <h2 class="labelzz"><i>Click the Buildings!</i></h2>
				<div class="responsive">
					<img class="tester"src="../../../assets/img/roadmap.png" alt="" />

          <!-- Pin 1-->
					<div *ngIf = "event1 != undefined || event1 != null">
            <button id="pin-1" class="box" (click)="openDialog()"
            *ngIf = "(((todaysDate|date:'MM/dd/yy' )>=( event1.StartDate | date: 'MM/dd/yy' )
            && (todaysDate|date:'MM/dd/yy')<=(event1.EndDate | date: 'MM/dd/yy')))">
            </button>
            <button class='pin-1z' (click)="openConstruct()" class="boxz" 
                          *ngIf = "(((todaysDate|date:'MM/dd/yy' )>( event1.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')>( event1.StartDate | date: 'MM/dd/yy' ))||
              ((todaysDate|date:'MM/dd/yy' )<( event1.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')<( event1.StartDate | date: 'MM/dd/yy' )))
                          ">
                          </button>
          </div>

             <!-- Pin 2-->
					<div *ngIf = "event2 != undefined || event2 != null">
            <button id="pin-2" class="box2" (click)="openDialog2()"
            *ngIf = "(((todaysDate|date:'MM/dd/yy' )>=( event2.StartDate | date: 'MM/dd/yy' )
            && (todaysDate|date:'MM/dd/yy')<=(event2.EndDate | date: 'MM/dd/yy')))">
            </button>
            <button class='pin-1z' (click)="openConstruct()" class="box2z" 
                          *ngIf = "(((todaysDate|date:'MM/dd/yy' )>( event2.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')>( event2.StartDate | date: 'MM/dd/yy' ))||
              ((todaysDate|date:'MM/dd/yy' )<( event2.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')<( event2.StartDate | date: 'MM/dd/yy' )))
                          ">
                          </button>
          </div>

               <!-- Pin 3-->
					<div *ngIf = "event3 != undefined || event3 != null">
            <button id="pin-3" class="box3" (click)="openDialog3()"
            *ngIf = "(((todaysDate|date:'MM/dd/yy' )>=( event3.StartDate | date: 'MM/dd/yy' )
            && (todaysDate|date:'MM/dd/yy')<=(event3.EndDate | date: 'MM/dd/yy')))">
            </button>
            <button class='pin-1z' (click)="openConstruct()" class="box3z" 
                          *ngIf = "(((todaysDate|date:'MM/dd/yy' )>( event3.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')>( event3.StartDate | date: 'MM/dd/yy' ))||
              ((todaysDate|date:'MM/dd/yy' )<( event3.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')<( event3.StartDate | date: 'MM/dd/yy' )))
                          ">
                          </button>
          </div>

              <!-- Pin 4-->
					<div *ngIf = "event4 != undefined || event4 != null">
            <button id="pin-4" class="box4" (click)="openDialog4()"
            *ngIf = "(((todaysDate|date:'MM/dd/yy' )>=( event4.StartDate | date: 'MM/dd/yy' )
            && (todaysDate|date:'MM/dd/yy')<=(event4.EndDate | date: 'MM/dd/yy')))">
            </button>
            <button class='pin-1z' (click)="openConstruct()" class="box4z" 
                          *ngIf = "(((todaysDate|date:'MM/dd/yy' )>( event4.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')>( event4.StartDate | date: 'MM/dd/yy' ))||
              ((todaysDate|date:'MM/dd/yy' )<( event4.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')<( event4.StartDate | date: 'MM/dd/yy' )))
                          ">
                          </button>
          </div>

                <!-- Pin 5-->
					<div *ngIf = "event5 != undefined || event5 != null">
            <button id="pin-5" class="box5" (click)="openDialog5()"
            *ngIf = "(((todaysDate|date:'MM/dd/yy' )>=( event5.StartDate | date: 'MM/dd/yy' )
            && (todaysDate|date:'MM/dd/yy')<=(event5.EndDate | date: 'MM/dd/yy')))">
            </button>
            <button class='pin-1z' (click)="openConstruct()" class="box5z" 
                          *ngIf = "(((todaysDate|date:'MM/dd/yy' )>( event5.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')>( event5.StartDate | date: 'MM/dd/yy' ))||
              ((todaysDate|date:'MM/dd/yy' )<( event5.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')<( event5.StartDate | date: 'MM/dd/yy' )))
                          ">
              </button>
          </div>

                <!-- Pin 6-->
					<div *ngIf = "event6 != undefined || event6 != null">
            <button id="pin-6" class="box6" (click)="openDialog6()"
            *ngIf = "(((todaysDate|date:'MM/dd/yy' )>=( event6.StartDate | date: 'MM/dd/yy' )
            && (todaysDate|date:'MM/dd/yy')<=(event6.EndDate | date: 'MM/dd/yy')))">
            </button>
            <button class='pin-1z' (click)="openConstruct()" class="box6z" 
                          *ngIf = "(((todaysDate|date:'MM/dd/yy' )>( event6.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')>( event6.StartDate | date: 'MM/dd/yy' ))||
              ((todaysDate|date:'MM/dd/yy' )<( event6.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')<( event6.StartDate | date: 'MM/dd/yy' )))
                          ">
                          </button>
          </div>

                <!-- Pin 7-->
					<div *ngIf = "event7 != undefined || event7 != null">
            <button id="pin-7" class="box7" (click)="openDialog7()"
            *ngIf = "(((todaysDate|date:'MM/dd/yy' )>=( event7.StartDate | date: 'MM/dd/yy' )
            && (todaysDate|date:'MM/dd/yy')<=(event7.EndDate | date: 'MM/dd/yy')))">
            </button>
            <button class='pin-1z' (click)="openConstruct()" class="box7z" 
                          *ngIf = "(((todaysDate|date:'MM/dd/yy' )>( event7.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')>( event7.StartDate | date: 'MM/dd/yy' ))||
              ((todaysDate|date:'MM/dd/yy' )<( event7.EndDate | date: 'MM/dd/yy' )&&
              (todaysDate|date:'MM/dd/yy')<( event7.StartDate | date: 'MM/dd/yy' )))
                          ">
                          </button>
          </div>
          <div *ngIf = "event1 == undefined || event1 == null">
            <button class='pin-1' (click)="openConstruct()" class="boxz">
            </button>
         </div>
                     <div *ngIf = "event2 == undefined || event2 == null">
                        <button class='pin-1' (click)="openConstruct()" class="box2z">
                        </button>
                     </div>
                     <div *ngIf = "event3 == undefined || event3 == null">
                        <button class='pin-1' (click)="openConstruct()" class="box3z">
                        </button>
                     </div>
                     <div>
                        <button class='pin-1' (click)="openConstruct()" class="box4z" 
                        *ngIf = "event4 == undefined || event4 == null">
                        </button>
                     </div>
                     <div>
                        <button class='pin-1' (click)="openConstruct()" class="box5z" 
                        *ngIf = "event5 == undefined || event5 == null">
                        </button>
                     </div>
                     <div>
                        <button class='pin-1' (click)="openConstruct()" class="box6z" 
                        *ngIf = "event6 == undefined || event6 == null">
                        </button>
                     </div>
                     <div>
                        <button class='pin-1' (click)="openConstruct()" class="box7z" 
                        *ngIf = "event7 == undefined || event7 == null">
                        </button>
                     </div>
					</div>
				  </div>
				</div>
		</div>
		
</section>

<ng-template #callAPIDialog>
  <a href={{event1.eventLink}} target="_blank">
  <img class="testzzz" [src]="imageURLz+event1.PhotoFileName">
  </a>
  <br>
  <br>
  <label class="labelz"> Click the Image To Join our Google Meet/Zoom!</label>
</ng-template>
<ng-template #callAPIDialog2>
  <a href={{event2.eventLink}} target="_blank">
  <img class="testzzz" [src]="imageURLz+event2.PhotoFileName">
  </a>
  <br>
  <br>
  <label class="labelz"> Click the Image To Join our Google Meet/Zoom!</label>
</ng-template>
<ng-template #callAPIDialog3>
  <a href={{event3.eventLink}} target="_blank">
  <img class="testzzz" [src]="imageURLz+event3.PhotoFileName">
  </a>
  <br>
  <br>
  <label class="labelz"> Click the Image To Join our Google Meet/Zoom!</label>
</ng-template>
<ng-template #callAPIDialog4>
  <a href={{event4.eventLink}} target="_blank">
  <img class="testzzz" [src]="imageURLz+event4.PhotoFileName">
  </a>
  <br>
  <br>
  <label class="labelz"> Click the Image To Join our Google Meet/Zoom!</label>
</ng-template>
<ng-template #callAPIDialog5>
  <a href={{event5.eventLink}} target="_blank">
  <img class="testzzz" [src]="imageURLz+event5.PhotoFileName">
  </a>
  <br>
  <br>
  <label class="labelz"> Click the Image To Join our Google Meet/Zoom!</label>
</ng-template>
<ng-template #callAPIDialog6>
  <a href={{event6.eventLink}} target="_blank">
  <img class="testzzz" [src]="imageURLz+event6.PhotoFileName">
  </a>
  <br>
  <br>
  <label class="labelz"> Click the Image To Join our Google Meet/Zoom!</label>
</ng-template>
<ng-template #callAPIDialog7>
  <a href={{event7.eventLink}} target="_blank">
  <img class="testzzz" [src]="imageURLz+event7.PhotoFileName">
  </a>
  <br>
  <br>
  <label class="labelz"> Click the Image To Join our Google Meet/Zoom!</label>
</ng-template>

<ng-template #construct>
  <img class="testzz" src="../../../../assets/img/underconstruction.png">
 
</ng-template>
<ng-template #callAPIDialog8>
  <mat-card class="demo-inline-calendar-card"
  *ngIf = "event1 !== undefined || event1 !== null">
      <div class="mid">
      <label>{{event1.eventName}}</label><br>
      <label>Start Date: {{event1.StartDate | date: 'MM/dd/yy'}}</label><br>
      <label>End Date: {{event1.EndDate | date: 'MM/dd/yy'}}</label>
      </div>
      <mat-calendar [selected]="event1.StartDate"></mat-calendar>
  </mat-card>
  <br>
  <mat-card class="demo-inline-calendar-card"
  *ngIf = "event2 !== undefined || event2 !== null">
      <div class="mid">
          <label>{{event2.eventName}}</label><br>
          <label>Start Date: {{event2.StartDate | date: 'MM/dd/yy'}}</label><br>
          <label>End Date: {{event2.EndDate | date: 'MM/dd/yy'}}</label>
          </div>
      <mat-calendar [selected]="event2.StartDate"></mat-calendar>
  </mat-card>
  <br>
  <mat-card class="demo-inline-calendar-card"
  *ngIf = "event3 !== undefined || event3 !== null">
      <div class="mid">
          <label>{{event3.eventName}}</label><br>
          <label>Start Date: {{event3.StartDate | date: 'MM/dd/yy'}}</label><br>
          <label>End Date: {{event3.EndDate | date: 'MM/dd/yy'}}</label>
          </div>
      <mat-calendar [selected]="event3.StartDate"></mat-calendar>
  </mat-card>
  <br>
  <mat-card class="demo-inline-calendar-card"
  *ngIf = "event4 !== undefined || event4 !== null">
      <div class="mid">
          <label>{{event4.eventName}}</label><br>
          <label>Start Date: {{event4.StartDate | date: 'MM/dd/yy'}}</label><br>
          <label>End Date: {{event4.EndDate | date: 'MM/dd/yy'}}</label>
          </div>
      <mat-calendar [selected]="event4.StartDate"></mat-calendar>
  </mat-card>
  <br>
  <mat-card class="demo-inline-calendar-card"
  *ngIf = "event5 !== undefined || event5 !== null">
      <div class="mid">
          <label>{{event5.eventName}}</label><br>
          <label>Start Date: {{event5.StartDate | date: 'MM/dd/yy'}}</label><br>
          <label>End Date: {{event5.EndDate | date: 'MM/dd/yy'}}</label>
          </div>
      <mat-calendar [selected]="event5.StartDate"></mat-calendar>
  </mat-card>
  <br>
  <mat-card class="demo-inline-calendar-card"
  *ngIf = "event6 !== undefined || event6 !== null">
      <div class="mid">
          <label>{{event6.eventName}}</label><br>
          <label>Start Date: {{event6.StartDate | date: 'MM/dd/yy'}}</label><br>
          <label>End Date: {{event6.EndDate | date: 'MM/dd/yy'}}</label>
          </div>
      <mat-calendar [selected]="event6.StartDate"></mat-calendar>
  </mat-card>
  <br>
  <mat-card class="demo-inline-calendar-card" 
  *ngIf = "event7 !== undefined || event7 !== null">
      <div class="mid">
          <label>{{event7.eventName}}</label><br>
          <label>Start Date: {{event7.StartDate | date: 'MM/dd/yy'}}</label><br>
          <label>End Date: {{event7.EndDate | date: 'MM/dd/yy'}}</label>
          </div>
      <mat-calendar [selected]="event7.StartDate"></mat-calendar>
  </mat-card>
</ng-template>

<!-- =========================
    Showroom SECTION   
============================== -->
<section id="detail" class="parallax-section">
	<div class="container">
		<div class="row">
        <div class="showz">
           <p> UAPSA's Showroom</p>
           <button class="buttun" (click)="openDialogo()">UAPSA's Showroom!</button>
          </div>
          <div class="merchzz">
			<div class="wow fadeInLeft col-md-4 col-sm-4 tonkss" data-wow-delay="0.3s">
				<carousel
				class="teams"
			[objectFit]="'cover'"
			[height]="400"
			[autoplay]="true"
			[dots]="true"
			[loop]="true"
			[cellsToShow]="1"
			[cellsToScroll]="1"
			[arrowsOutside]="true"
			arrowsTheme="dark">
                <div class=" carousel-cell" *ngFor="let showroom of showrooms">
					<img class="card-image" [src]="imageURL+showroom.PhotoFileName" alt="">
                </div>
                </carousel>
			</div>
    </div>
			

		</div>
	</div>
</section>
<ng-template #callAPIDialogzz>
    <form #regform="ngForm" (ngSubmit)="onReg(regform)" class="center">
    <h2 matDialogTitle class="tonks">Showroom Register</h2>
    <label class="lbel">First Name</label><br>
      <input 
      type="text"
      ngModel
      name="firstname"><br>
    <label class="lbel">Last Name</label><br>
      <input 
      type="text"
      ngModel
      name="lastname"><br>
    <label class="lbel">Email</label><br>
      <input 
      type="email"
      ngModel
      name="email"><br>
      <label for="college">Status:</label>
      <select class="form-control" id="college" [(ngModel)]="selectedValue" name="watcherType" required>
        <option value="Guest">Guest</option>
        <option value="Alumni">Alumni</option>
        <option value="UST Student">UST Student</option>
      </select>
      <br>
      <br>
      <div *ngIf = "selectedValue == 'Guest'">
    <label class="lbel">Organization/Institute Name</label><br>
      <input 
      type="text"
      ngModel
      name="orgName">
    </div>
    <button type="submit" [mat-dialog-close]=true>Submit</button>
  
  </form>
  </ng-template>
  
  <ng-template #callAPIDialogpo>
    <form #userForm="ngForm" (ngSubmit)="onSend(userForm)" class="center">
    <h2 matDialogTitle class="tonks">Exhibit Entrance</h2>
    <label class="lbel">Email</label><br>
      <input 
      type="email"
      ngModel
      name="email"><br>
    <label class="lbel">Ticket No.</label><br>
      <input 
      type="password"
      ngModel
      name="password"><br>
    <button type="submit">Enter</button>
  
    
  </form>
  <label class="labelz lbel">Haven't Registered yet?</label>
  <button class="regzz"id="reg"(click)="openReg()" >Register</button>
  </ng-template>

  <ng-template #agreeFormz>
    <div class="front">
    <h2>End-User License Agreement (&quot;Agreement&quot;)</h2>
<p>Last updated: November 22, 2021</p>
<p>Please read this End-User License Agreement carefully before clicking the &quot;I Agree&quot; button, downloading or using Arko.</p>
<h2>Entire Agreement</h2>
<p>The Agreement constitutes the entire agreement between You and the Organizaton regarding your use of the Application and supersedes all prior and contemporaneous written or oral agreements between You and the Company.</p>
<p>All The Details that you will provide upon registering will be kept secured by the Organization.</p>
<p>The Data that will be kept wll be used for future reference of registry</p>
<h2>Contact Us</h2>
<p>If you have any questions about this Agreement, You can contact Us:</p>
<ul>
<li>By email: uapsa.archi@ust.edu.ph</li>
</ul>
    <br>
    
  
<div class="midz">
    <mat-checkbox 
    class="example-margin"
    (change) ="onChange($event)"
    > I agree to the Terms and Conditions
    </mat-checkbox>
    <br>
  <button type="submit" 
  [disabled]="checkAgree == false" class="glow"(click)="openRegz()" [mat-dialog-close]=true >Submit</button>
</div>
</div>
  </ng-template>

<!-- =========================
    ARTICLE SECTION   
============================== -->
<section id="video" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="wow fadeInUp col-md-6 col-sm-10" data-wow-delay="1.3s" >
                <h2 class="articleHead">Our Latest Articles!</h2>
                <h3 class="articleDesc">
                  The latest Articles talking about the latest events and news 
              surrounding the Organization. Also read topics regarding the 
              timely news related to Architecture. These Articles are posted
              by UAPSA-UST themselves.
                </h3>
				<div class = "buttones">
					<br>
				  <button class="button-two wow fadeInUp" data-wow-delay="1.3s" (click)="onMoreArticles() "><span>See More</span></button>
				</div>
			</div>
            <div class="wow fadeInUp col-md-6 col-sm-10" data-wow-delay="1.6s">
                <div *ngFor="let article of articles let i = index">

                  <div class="articlezcard" *ngIf = "i < 1">
                    <a [routerLink]="['/article', article.id, article.title]">
                    <div class="articlezcardthumbnail">
                      <img class="cardzimg" [src]="imageURL+article.PhotoFileName" alt="Avatar"/>
                    </div>
                  
                    <div class="articlezcardcontent">
                      
                      <h2 class="articlezcardtitle">{{article.title}} </h2>
                  
                      <div class="articlezcardexcerpt">
                        <p>
                        {{article.desc}}
                        </p>
                      </div>
                  
                      <div class="articlezcardmeta">
                        <span class="articlezcardtimestamp"><i class="ion-clock"></i>{{article.dateCreated | date: "dd"}}</span>
                        <span class="articlezcardcomments"><i class="ion-chatbubbles"></i>{{article.dateCreated | date: "MMM"}}</span>
                        <span><div class="category">Article</div></span>
                      </div>
                    </div>
                  </a>

                  </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- =========================
    SPEAKERS SECTION   
============================== -->
<section id="speakers" class="parallax-section">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-sm-12 wow bounceIn">
				<div class="section-title">
					<h2 class="aboutus"> About Us</h2>
            <mat-tab-group mat-align-tabs="center" animationDuration="2000ms">
                <mat-tab label="What is UAPSA-UST?"> 
                    <p class="descri">UAPSA stands for United Architects of The Philippines Student Auxiliary- University of Santo Tomas Chapter, one of the duly-recognized student organizations under the UAP. It is affiliated with other UAPSA Chapters and National, with thousands of members from up to 70 different schools all over the Philippines.</p> </mat-tab>
                <mat-tab label="Mission"> 
                    <p class="descri"> The United Architects of the Philippines Student Auxiliary – University of 
                        Santo Tomas Chapter (UAPSA-UST), as a recognized student organization, 
                        commits to provide the members the architectural knowledge and 
                        opportunities essential to their professional and academic achievement 
                        guided by the university’s core values – compassion, commitment, and 
                        competence – and practice dedication to serving the church and the 
                        community.
                    </p> </mat-tab>
                <mat-tab label="Vision"> 
                    <p class="descri">
                        As an accredited organization of the United Architects of the Philippines, 
                        the United Architects of the Philippines Student Auxiliary – University of 
                        Santo Tomas (UAPSA-UST) under this Catholic institution envisions to produce 
                        globally competitive Thomasian architecture students who execute Thomasian 
                        values and equipped with professional and moral formation dedication to 
                        service for social transformation.
                    </p>
                </mat-tab>
                <mat-tab label="History of UAPSA">
                    <p class="descri">
                        The organization was established in 2001 by Ar. Marian Eileen Florentino with the sounding goal of producing prime Filipino Architects through loyal camaraderie, honest competition, and a unifying drive to serve.
                    </p>
                </mat-tab>
                <mat-tab label = "Join Us!">
                    <br>
                    <button class="button-two wow fadeInUp" data-wow-delay="1.3s"(click)="appForm()"><span>Application Form</span></button>
                </mat-tab>
                <mat-tab label="Get to Know the Team!" > 
                    <br>
                    
                    <button class="button-two wow fadeInUp" data-wow-delay="1.3s"(click)="openDialogz()"><span>Get to know the Team</span></button>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>

<ng-template #callAPIDialogz>
<div class="center">
	<carousel
	class="teams"
[objectFit]="'cover'"
[height]="400"
[autoplay]="true"
[dots]="true"
[loop]="true"
[cellsToShow]="1"
[cellsToScroll]="1"
arrowsTheme="dark">
<div class=" carousel-cell" *ngFor="let team of teams">
	<img class="card-image" [src]="imageURL+team.PhotoFileName" alt="">
</div>
</carousel>
</div>
</ng-template>
					
				</div>
			</div>
		
	
</section>




<!-- =========================
    FOOTER SECTION   
============================== -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6 class="contactzz">Contact Us</h6>
          <p class="text-justify">España Blvd, Sampaloc, Manila, 1008 Metro Manila</p>
          <p class="text-justify">Email: uapsa.archi@ust.edu.ph</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="https://www.united-architects.org" target="_blank">UAP</a></li>
            <li><a href="https://www.facebook.com/uapsanational" target="_blank">UAPSA NATIONAL</a></li>
          </ul>
        </div>

        <div>
            <a class="smoothScroll"><img src="assets/img/160X160 UAPSA LOGO.png" 
                style ="width:100px; "class="img-fluid"></a>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <p class="copyright-text">Copyright &copy; 2021 UAPSA University of Santo Tomas</p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icon">
                <li><a href="https://www.facebook.com/officialuapsaust/" target="_blank" class="fa fa-facebook wow fadeInUp" data-wow-delay="1s"></a></li>
                <li><a href="https://twitter.com/uapsaust" target="_blank" class="fa fa-twitter wow fadeInUp" data-wow-delay="1.3s"></a></li>
                <li><a href="https://www.instagram.com/uapsa.ust/" target="_blank" class="fa fa-instagram wow fadeInUp" data-wow-delay="1.9s"></a></li>
				<li><a href="https://www.tiktok.com/@uapsaust?lang=en" target="_blank" class="fab fa-tiktok wow fadeInUp" data-wow-delay="1.9s"></a></li>
            </ul>
        </div>
      </div>
    </div>
</footer>
