<section id="about-us" class="parallax-section">
    <div class="container">
        <div class="row">

            <div class="col-md-12 col-sm-12 wow bounceIn">
                <div class="section-title">
                    <h2>About Us</h2>
                    <p>Lorem ipsum dolor sit amet, maecenas eget vestibulum justo imperdiet.</p>
                </div>
                <div class="left">
                <h2>Mission</h2>
                <p> The United Architects of the Philippines Student Auxiliary – University of Santo Tomas Chapter (UAPSA-UST), as a recognized student organization, commits to provide the members the architectural knowledge and opportunities essential to their professional and academic achievement guided by the university’s core values – compassion, commitment, and competence – and practice dedication to serving the church and the community.
                </p>
                </div>
                <div class="right">
                    <h2>Vission</h2>
                <p>
                    As an accredited organization of the United Architects of the Philippines, the United Architects of the Philippines Student Auxiliary – University of Santo Tomas (UAPSA-UST) under this Catholic institution envisions to produce globally competitive Thomasian architecture students who execute Thomasian values and equipped with professional and moral formation dedication to service for social transformation.
                </p>
                </div>
            </div>


            <button class="button-two wow fadeInUp" data-wow-delay="1.3s"(click)="appForm()"><span>Application Form</span></button>

        </div>
    </div>
</section>