<body>
  
    <div class="container">
     
    <div class="jumbotron">
     
      <a [routerLink]="['../../../Showroom-page']">
        <i class="fas fa-chevron-circle-left fa-3x round"></i>
    </a> <h1 class="text-center">{{thisShowroom.Title}}</h1>
      <br>
      
        
      <br>
    
    <div class="image-section">
    <div id="viewer" class="img-responsive" alt="Jim Henson and Kermit the Frog"></div>
    <h2 class="text-center test" >{{thisShowroom.AuthorName}}</h2>
    </div>
    
    <br><br><br>
  
    <div class="information">
    <p>{{thisShowroom.Description}}</p>
    </div>  
     
    </div>  
    </div>
  
    
     
  </body>
  
  