h1 {
  font-family: 'grossregular';
  text-align: left;
}

.container {
  padding: 0 50px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.poster {
 width: 200px;
  margin-right: 100vh;
  
}
.row {
  margin-left: auto;
}

img {
  width: 50%;
  height: 500px;
  padding-left: 100px;
  margin: auto;
}

@media (max-width: 760px) {
  h1{
   font-size: 10px;
  }
 

}



